<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post" action="/verify">
            <div class="form-control">
                <input type="text" required name="email">
                <label>Email</label>
            </div>
            <div class="form-control">
                <input type="password" required name="password">
                <label>Password</label>
            </div>
            <button class="btn" type="submit">Login</button>
            <p class="text">Don't have an account? <a href="/signup">Register</a></p>
        </form>
    </div>
    <script src="/javascripts/app.js"></script>
</body>
</html>